# Node.js
node_modules/

# Директорії з скомпільованими файлами
dist/
build/

# Вихідні файли для IDE
.idea/
.vscode/

# Системні файли
.DS_Store
Thumbs.db

# Логи
*.log

# Файли конфігурації для npm
package-lock.json

# Файли середовища
.env

